<div class="container-fluid">
  <ul class="nav justify-content-center">
    <li class="nav-item">
      <a class="nav-link text-light" href="/">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-light" href="/movies">Llistat Pel·lícules</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-light" href="/movies/inserir"
        >Afegir Pel·lícula</a>
    </li>
  </ul>
</div>
